<div class="form-group">
    <label>From</label>
    <input [(ngModel)]="from" class="form-control">
</div>

<div class="form-group">
    <label>To</label>
    <input [(ngModel)]="to" class="form-control">
</div>

<div class="form-group">
    <button class="btn btn-default" 
            (click)="search()" 
            [disabled]="!from || !to">
        Search
    </button>
</div>

<!--
    [ngClass]="{ 'active': flight == selectedFlight }"
    -->
<table class="table table-striped" *ngIf="flights.length > 0">
    <tr *ngFor="let flight of flights" [ngStyle]="{ 'background-color': (flight == selectedFlight) ? 'orange' : '' }">
        <td>{{flight.id}}</td>
        <td>{{flight.from}}</td>
        <td>{{flight.to}}</td>
        <td>{{flight.date | date:'dd.MM.yyyy HH:mm' }}</td>
        <td><a (click)="select(flight)">Select</a></td>
    </tr>
</table>

<pre>Warenkorb
----------------
{{ selectedFlight | json }}    
</pre>    